<div class="relative z-10">
<header class="flex flex-row items-center w-full bg-white justify-between py-13 px-19 relative z-10">

    <img class="max-h-[31px]" src="logo-pixar.png" alt="Pixar Logo" />
    <nav class="text-sm text-right uppercase space-x-5 flex flex-end items-center ">
      <a class="cursor-pointer" routerLink="/home">Films</a>
      <a class="cursor-pointer" routerLink="/about">Technology</a>
      <a class="cursor-pointer" routerLink="/contact">Carrers</a>
      <a class="cursor-pointer" routerLink="/contact">More</a>
    </nav>
  </header>
</div>