<div class="relative">
  <!-- Imagen de fondo -->
  <img 
    src="elio-bg.jpg" 
    alt="Elio Image" 
    class="w-full h-90 object-cover" 
    loading="lazy" 
    decoding="async" 
  />
  
  <!-- Imagen en primer plano (decorativa) -->
  <img 
    src="elio.png" 
    alt="Elio Image" 
    class="absolute w-[55%] transform -translate-x-1/2 -translate-y-1/2 top-[32%] left-[28%] z-10" 
    loading="lazy" 
    decoding="async" 
  />

  
  <div class="absolute top-10 left-[60%] flex flex-col items-center gap-2 z-20">
   
    <img 
      src="elio-icon.png" 
      alt="Elio Icon" 
      class="w-100"
      loading="lazy" 
      decoding="async" 
    />
 
    <p class="font-bold fuente text-white text-sm text-center w-full">
      IN THEATRES JUNE 13
    </p>
  </div>
