<div class="block">
<div class="flex w-full gap-x-3">
    <!-- Primera columna con dos imágenes -->
    <div class="flex flex-col gap-y-2 w-1/3 h-full">
      <img
        src="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/7b0a27d2-53fb-4cd5-86f4-656c87726432/20190731LucaArtReview99905.JPG-0.jpg"
        alt="Luca Image"
        class="h-50 w-full object-cover object-center"
        loading="lazy"
        decoding="async"
      />
      <img
        src="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/6dbf1df6-bcc9-49bc-b3d3-c47583ea39ee/20230111Do000nShank06.JPG-0.jpg"
        alt="Shank Image"
        class="h-50 w-full object-cover object-center"
        loading="lazy"
        decoding="async"
      />
    </div>

  
    <div class="w-2/3 h-102">
        <div class="absolute  text-white p-20">
        <h1 class="text-5xl"><strong>Careers at Pixar</strong></h1>
        <h2 class="w-[35%] font- mt-10 break-normal">At Pixar, we are proud of our tradition of creative and technical excellence and are always looking for talented people to enrich our work and our community <u class="cursor-pointer">Learn more</u></h2>
    </div>
    <img
      src="car.jpg"
      alt="Car Image"
      class="w-full h-102 object-cover"
      loading="lazy"
      decoding="async"
    />
</div>
  </div>
</div>