<div class="flex items-center justify-center">
    <div class="w-full flex border items-center justify-center border-gray-500 flex-col relative">

      <div class="absolute inset-0 flex items-center justify-end z-10">
        <div class="flex flex-col px-15  items-center">
          <img src="wol-logo.png" alt="WOL Logo" class="mb-4 w-[640px]">
          <p  class="fuente text-xl">
            <strong>FEBRUARY 19</strong>
          </p>
          <img src="d+.png" alt="D+ Logo" class="mt-4 w-[100px]">
        </div>
      </div>
    
      <img src="wol-bg.jpg" alt="Background Image" class="w-full h-auto">
    </div>
  </div>
  