<div class="flex flex-row gap-5 h-60 justify-center items-center">
    <!-- Tarjeta 1 -->
    <div class="relative w-1/3 h-full overflow-hidden ">
    
      <img
        src="slider-1-bg.jpg"
        alt="Dream Productions Background"
        class="absolute top-0 left-0 w-120 h-full object-cover"
      />
      <!-- Imagen encima del fondo -->
      <div class="absolute top-10 left-1/2 transform -translate-x-1/2 flex flex-col items-center gap-3 z-10">
        <img src="dream.png" alt="Dream Productions Logo" class="w-full" />
        <p class="text-white fuente font-bold uppercase text-sm text-center mt-5">
            NOW STREAMING
          </p>
        <img src="d-.png" alt="Disney+ Logo" class="w-1/3" />
      </div>
    </div>
  
    <!-- Tarjeta 2 -->
    <div class="relative w-1/3 h-full  overflow-hidden ">
      <div class="bg-black h-full w-full">
      <img
        src="slider-2-bg.jpg"
        alt="Hoppers Background"
        class="absolute top-0 left-0  "
      />
      <!-- Texto encima del fondo -->
      <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 flex flex-col items-center z-10">
        <p class="text-white fuente font-bold uppercase text-sm text-center mt-5">
          March 6, 2026
        </p>
      </div>
    </div>
    </div>
  
    <!-- Tarjeta 3 -->
    <div class="relative w-1/3 h-full overflow-hidden ">
      <!-- Imagen de fondo -->
      <img
        src="bg.jpg"
        alt="Toy Story 5 Background"
        class="absolute top-0 left-0 w-full h-full object-cover"
      />
      <!-- Contenido encima del fondo -->
      <div class="absolute bottom-10 left-1/2 top-0 transform -translate-x-1/2 flex flex-col items-center z-10">
        <img src="toystory.png" class="w-35" alt="slider" />
        <p class="text-white fuente font-bold uppercase text-sm text-center">
          June 19, 2026
        </p>
   
      </div>
    </div>
  </div>
  


